<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>UIAppFonts</key>
	<array>
		<string>Sole-Light.otf</string>
		<string>LuloOne.otf</string>
		<string>LuloOne-Bold.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array/>
</dict>
</plist>
